/* body */
/*body text color #757575*/

/*secondary text color #212121*/

/*text accent color #2196F3*/
html {
    box-sizing: border-box;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
    *,
    *::after,
    *::before {
    box-sizing: inherit;
}
    /* Стили для обнуления верхних отступов у элементов */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
    margin: 0;
}
    /* Класс для обнуления базовых свойств у списков (ul) */
    ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
}
    /* Класс для обнуления базовых свойств у ссылок */
    a {
    text-decoration: none;
    color: inherit;
}
    /* Свойства для корректного отображения картинок */
    img {
    display: block;
    max-width: 100%;
    height: auto;
}
    /* Свойства для обнуления курсива у address */
    
    address {
    font-style: normal;
}

    body {
    font-family: 'Roboto', sans-serif;
    color: var(--s-lightgrey);
    letter-spacing: 0.03em;
    background-color: var(--s-white);
}
    :root { 
    --s-blue: #2196F3;
    --s-white: #fff;
    --s-black: #212121;
    --s-grey: #2F303A;
    --s-lightgrey: #757575;
    --s-whitebutton: #F5F4FA;
}
    
/* heder style */

/* logo*/
    .logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: var(--s-blue);
    font-size: 26px;
    line-height: 1.19;

    margin-left: 215px;
    margin-right: 93px;
}
    .logo-studio {
    color: var(--s-black);
}
/*sate nav*/
    .container-site-nav {
    display: flex;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 25px;
    }
    .site-nav {
    display: flex;
}
    .menu-nav {
    margin-right: 50px;
}
    .menu-nav:last-child {
    margin-right: 0;
}
/*auth-nav*/
    .auth-nav {
    display: flex;
    margin-left: 215px;
   
}
    .link-nav,
    .link-nav-portfolio {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--s-black);
}
    .link-nav-portfolio {
    color: var(--s-blue);
    }
    
    .link-nav:hover,
    .link-nav:focus {
    color: var(--s-blue);
}
/* mail and telephon*/

    .link-mailtel {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--s-lightgrey);
}
    .link-mailtel:hover,
    .link-mailtel:focus {
    color: var(--s-blue);
}

/*hero background*/
    .hero {
    background-color: var(--s-grey);
    text-align: center;
    padding: 200px 452px 280px;
}
/*hero text*/
    .hero-title { 
    color: var(--s-white);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;   
}
/*hero button*/
    .button-hero {
    background-color: var(--s-blue);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
       
    color: var(--s-white);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
}
/*our advantages*/
    section {
    padding: 94px 215px;
}
    .section-advantages{
    padding-bottom: 0;
    }
    .our-advantages{
    display: flex;
    margin-bottom: 0;
}
    .advantages {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
    .advantages-list{
    margin-right: 30px;
}
    .advantages-list:last-child{
    margin-right: 0;
}
    .advantages-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--s-black);
    margin-bottom: 0;
}
    .advantages-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;

    margin-top: 10px;
    margin-bottom: 0;
}
/* foto what are we doing*/
    .container-foto {
    display: flex;
    margin-top: 50px;
}
    .foto-list {
    margin-right: 30px;    
}
    .foto-list:last-child {
    margin-right: 0;    
}
    .foto {
    width: 370px;
}

/*our team*/
    .container-team {
    display: flex;
}
    .section-tiam {
    background: #F5F4FA;
}
    .team-list {
    margin-right: 30px;
    margin-top: 50px;
}
    .team-list:last-child {
    margin-right: 0;    
}
    .section-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 1.18;
    text-align: center;
    color: var(--s-black);

    margin-bottom: 0;
    }
    .team-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    color: var(--s-black);
    text-align: center;
    margin-top: 30px;
}
    .tiam-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    margin-top: 10px;
}
    .foto-team {
    width: 270px;
    }

/*futer*/
    .bloc-footer {
    background-color: var(--s-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}
    address {
    font-style: normal;
}
    .logo-footer {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--s-blue);

    margin-left: 215px;

}
    .logo-studio-footer {
    color: var(--s-white);
}
    address {
    margin-top: 20px;
}
    .footer-link-maps {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: var(--s-white);
    margin-left: 215px;
}
    .footer-link-maps:focus,
    .footer-link-maps:hover {
    color: var(--s-blue);
}

    .footer-link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);
    margin-left: 215px;
}
    .footer-link:focus,
    .footer-link:hover {
    color: var(--s-blue);
}

    
    /*portfolio*/

    /*butoon-filtr*/
    .services {
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0; 
    white-space: nowrap; 
    clip-path: inset(100%); 
    clip: rect(0 0 0 0); 
    overflow: hidden; 
}
    .container-portfolio{
    display: flex;
    justify-content: center;
}
    .button-filtr,
    .button-filtr-portfolio {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    border: 0;

    background-color: var(--s-whitebutton);
    text-align: center;
}
    .button-list {
    margin-right: 30px;
}
    .button-list:last-child {
    margin-right: 0;
}
    .our-portfolio {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 94px;
}
    .list-services {
    margin-right: 30px;
    margin-bottom: 30px;
    border: 1px solid #EEEEEE; 
}
    .list-services:nth-child(3n) {
    margin-right: 0;
}
    .list-services:nth-last-child(-n+3) {
    margin-bottom: 0;    
    }

    .button-filtr-portfolio {
    background-color: var(--s-blue);
    color: var(--s-white);
}

    .button-filtr:hover,
    .button-filtr:focus {
    background-color: var(--s-blue);
    color: var(--s-white);
}
    .services-foto {
    width: 367px;
}
    .services-item {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--s-black);
    margin-top: 20px;
    margin-left: 24px;
}
    .services-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    margin-top: 4px;
    margin-left: 24px;
    padding-bottom: 20px;
}






